pandas==1.2.4
numpy==1.21.6
networkx==2.6.2
gseapy==0.10.7
biorosetta==0.3.2
click==8.0.1
scikit-learn==1.0.2
scipy==1.7.3
tqdm==4.61.0
mofapy2==0.6.4
matplotlib==3.4.3
lifelines==0.27.3
proplot==0.9.7
igraph==0.9.8
seaborn==0.11.1
pymde==0.1.15
statsmodels==0.12.2
torch==1.8.1
imbalanced-learn==0.8.1